:root {
    --gray-primary: #686865;
    --gray-primary-active: #585858;
    --gray-secondary: #BABABA;
    --gray-background: #F4F4F4;
    --gray-background-muted: color-mod(var(--gray-primary) alpha(80%));
    --gray-border: #DDDDDD;

    --gray-header: #f5f5f5;

    --green-success: #85CCB8;
    --green-primary: #369f31;

    --primary: #0a0a36;
    --primary-active: #18189b;
    --primary-hover: #2c2cb1;
    --primary-hover-muted: #2c2cb1cc;
    --primary-highlight: #f0f0fc;

    --crimson: #FD0808;

    --sky-blue: #65b3d0;
    --sky-blue-highlight: color-mod(var(--sky-blue) alpha(40%));;

    --sky-blue-dark: #316eaa;

    --white: #FFFFFF;
    --white-muted: #FFFFFF90;
    --transparent: #FFFFFF00;
  }

