.action-button {
  min-width: 90px;
  height: 32px;
  color: var(--gray-primary);
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--gray-border);
  outline: none;
  box-shadow: none;
  transition: all 0.1s ease-in;
}

.action-button-item:hover {
  color: white;
  background-color: var(--orange-primary);
}

.action-button-item-example:hover {
  background-color: var(--gray);
}

.action-button-separator {
  height: 1px;
  background-color: var(--gray-border);
  margin-top: 5px;
  margin-bottom: 5px;
}
