.orange-primary {
  color: var(--orange-primary);
}

.gray-primary {
  color: var(--gray-primary);
}

.gray-header {
  background-color: var(--gray-header);
}

.gray-secondary {
  color: var(--gray-secondary);
}

.gray-border-color {
  color: var(--gray-border);
}

.green-success {
  color: var(--green-success);
}

.green-primary {
  color: var(--green-primary);
}

.color-crimson {
  color: var(--crimson);
}

.opacity-80 {
  opacity: 0.8;
}

.opacity-60 {
  opacity: 0.6;
}

.sky-blue {
  color: var(--sky-blue);
}

.bg-orange {
  background-color: var(--orange-primary);
}

.bg-gray {
  background-color: var(--gray-background);
}

.bg-gray-muted {
  background-color: var(--gray-background-muted);
}

.bg-orange-highlight {
  background: var(--orange-highlight);
}

.bg-sky-blue-highlight {
  background: var(--sky-blue-highlight);
}

.bg-gray-highlight {
  background: var(--gray-background);
}

.bg-sky-blue {
  background: var(--sky-blue);
}

.bg-white-muted {
  background: var(--white-muted);
}

.bg-gradiant-white-gray {
  background: linear-gradient(var(--white), var(--gray-background));
}

.bg-green-primary {
  background: var(--green-primary);
}

.bg-transparent {
  background: transparent;
}

.color-inherit {
  color: inherit;
}

.hover-orange-primary:hover {
  color: var(--orange-primary);
}

.hover-white:hover {
  color: var(--white);
}

.hover-bg-orange:hover {
  background: var(--orange-primary);
}
