@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Thin.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Light.otf'), url('../../public/fonts/Gilroy-Light.ttf') format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Regular.otf'), url('../../public/fonts/Gilroy-Regular.ttf') format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Medium.otf'), url('../../public/fonts/Gilroy-Medium.ttf') format("ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-SemiBold.otf'),url('../../public/fonts/Gilroy-SemiBold.ttf') format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../public/fonts/Gilroy-Bold.otf'), url('../../public/fonts/Gilroy-Bold.ttf') format("ttf");
  font-weight: 700;
  font-style: normal;
}
