.a-link {
  color: var(--gray-primary);
  text-decoration: none;
}

.a-link:hover {
  color: var(--primary);
  text-decoration: underline;
}

.link-primary {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.link-primary:hover {
  text-decoration: underline;
}
