.c-modal {
  position: relative;
  margin: 0 auto 20px;
}

.c-modal__backdrop {
  height: 100vh;
  overflow-y: auto;
}

.c-modal__container {
  position: relative;
  top: 15%;
  z-index: 1;
  width: 100%;
}
.c-modal__viewport {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
}

.c-edit-modal {
  position: absolute;
  z-index: 1;
}

.c-edit-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (--breakpoint-sm) {
  .c-modal-width {
    width: 100%;
  }
}

@media (--breakpoint-md) {
  .c-modal-width {
    width: 70%;
  }
}

@media (--breakpoint-lg) {
  .c-modal-width {
    width: 40%;
  }
}
