.c-modal {
  position: relative;
  margin: 0 auto 20px;
}

.c-modal__backdrop {
  height: 100vh;
  overflow-y: auto;
}

.c-modal__container {
  position: relative;
  top: 10%;
  z-index: 1;
  width: 100%;
}

.c-modal__container-right {
  position: absolute;
  right: 0;
  left: initial;
  width: initial;
  height: initial;
}

.c-modal__container-bottom {
  position: absolute;
  bottom: 0;
  top: initial;
  width: initial;
  height: initial;
}

.c-modal__container-left {
  position: absolute;
  right: initial;
  left: 10;
  width: initial;
  height: initial;
}

.c-modal__container-top {
  position: absolute;
  bottom: initial;
  top: 10;
  width: initial;
  height: initial;
}

.c-modal__container-absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.c-modal__container-right > .c-modal,
.c-modal__container-left > .c-modal,
.c-modal__container-top > .c-modal,
.c-modal__container-bottom > .c-modal,
.c-modal__container-absolute > .c-modal {
  margin: 0px;
}

.c-modal__container-absolute > .c-modal {
  height: 100%;
}

.c-modal__viewport {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  width: 100%;
}

.c-edit-modal {
  position: absolute;
  z-index: 1;
}

.c-edit-modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-modal-content--scrollable {
  max-height: 450px;
  overflow: auto;
}

@media (--breakpoint-sm) {
  .c-modal-width {
    width: 100%;
  }
}

@media (--breakpoint-md) {
  .c-modal-width {
    width: 70%;
  }
}

@media (--breakpoint-lg) {
  .c-modal-width {
    width: 40%;
  }
}
